Olá!

Ouvimos dizer que você precisa redefinir sua senha. Utilize o link abaixo para ser redirecionado com segurança ao Portal Hub de Inovação e criar uma nova senha para sua conta registrada com o email {{ email }}.

* Redefinir Senha → https://preview.portalhubinovacao.com.br/recover-password/{{ token }}/{{ email }}

Se você não tiver solicitado a recuperação da senha, por favor, desconsidere essa mensagem.


Essa é uma mensagem automática. Por favor, não responda.
